<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="login-Div" >
    
    <form [formGroup]='loginForm' (submit)="loginUser()" novalidate>
        <ion-row>
            <ion-col text-center>
              <img class="logo" src="assets/img/login.png" />
            </ion-col>
          </ion-row>
      <ion-list no-margin>
        <ion-item class="item-form">
          <button ion-button item-left clear class="iconColor">
            <ion-icon name="person" class="iconColor"></ion-icon>
          </button>
          <ion-input type="text"  placeholder="UserName" formControlName="username" [class.invalid]="!loginForm.controls.username.valid &&(loginForm.controls.username.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">Please Enter valid UserName.</p>
        <br> 
        <ion-item class="item-form" >
 
          <button ion-button item-left clear class="iconColor">
            <ion-icon name="lock" class="iconColor"></ion-icon>
          </button>

          <ion-input  type="password" placeholder="Password" formControlName="password"
            [class.invalid]="!loginForm.controls.password.valid &&(loginForm.controls.password.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">Please Enter valid Password.</p>
        <br>

        <div class="class-center">
          <button center text-center ion-button  block type='submit'>Login</button>
        </div>
      </ion-list>
    </form>

</div>
</ion-content>
